$primary-color: #cfcdcd;
$secondary-color:#c97a36; 
$text-color:#282828;


*{
    box-sizing:border-box;
    margin: 0;;
    padding: 0;
}
@mixin transition-ease {
    transition: all 0.5s ease-in-out;
    
}